@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joane";
  src: url(./FONTS/HEADING/joane-bold.otf);
}
@font-face {
  font-family: "Fira Sans";
  src: url(./FONTS/BODY/FiraSans-Light.ttf);
}
@font-face {
  font-family: "Nevrada Neue";
  src: url(./FONTS/HEADING/Nevrada_Neue.otf);
}

.lines {
  background-image: url("./components//data/files/Images/lines.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media only screen and (min-width: 1464px) {
  .lines {
    background-size: 100% 50%;
  }
}

.analysisBg {
  background-image: url("./components/data/files/Images/analysisBG.png");
  background-size: cover;
}
.mapping {
  background-image: url("./components/data/files/Images/mapping.png");
  background-size: cover;
}
.consideration {
  background-image: url("./components/data/files/Images/consideration.png");
  background-size: cover;
}
.decision {
  background-image: url("./components/data/files/Images/decision.png");
  background-size: cover;
}
.dotmap {
  background-image: url("./components/data/files/Images/dotmap.png");
  background-size: cover;
}
.feedback {
  background-image: url("./components/data/files/Images/feedback.png");
  background-size: cover;
}
.conclusion {
  background-image: url("./components/data/files/Images/conclusion.png");
  background-size: cover;
}
.analysisPageSec {
  background-image: url("./components//data/files/Images/analysisPage2BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.analysisPageFour {
  background-image: url("./components//data/files/Images/about.png");
  background-size: cover;
  background-repeat: no-repeat;
}
