@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joane";
  src: url(./FONTS/HEADING/joane-bold.otf);
}
@font-face {
  font-family: "Fira Sans";
  src: url(./FONTS/BODY/FiraSans-Light.ttf);
}
@font-face {
  font-family: "Nevrada Neue";
  src: url(./FONTS/HEADING/Nevrada_Neue.otf);
}

.lines {
  background-image: url("./components//data/files/Images/lines.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media only screen and (min-width: 1464px) {
  .lines {
    background-size: 100% 50%;
  }
}

.analysisBg {
  background-image: url("./components/data/files/Images/analysisBG.png");
  background-size: cover;
}
.mapping {
  background-image: url("./components/data/files/Images/mapping.png");
  background-size: cover;
}
.consideration {
  background-image: url("./components/data/files/Images/consideration.png");
  background-size: cover;
}
.decision {
  background-image: url("./components/data/files/Images/decision.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.dotmap {
  background-image: url("./components/data/files/Images/dotmap.png");
  background-size: cover;
}
.feedback {
  background-image: url("./components/data/files/Images/feedback.png");
  background-size: cover;
}
.conclusion {
  background-image: url("./components/data/files/Images/conclusion.png");
  background-size: cover;
}
.analysisPageSec {
  background-image: url("./components//data/files/Images/analysisPage2BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.analysisPageFour {
  background-image: url("./components//data/files/Images/about.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8,
.text9,
.text10,
.text11,
.text12,
.text13,
.text14,
.text15 {
  display: none;
}
.firstText:hover .text1 {
  display: block;
}

.secondText:hover .text2 {
  display: block;
}

.thirdText:hover .text3 {
  display: block;
}
.fourthText:hover .text4 {
  display: block;
}
.fifthText:hover .text5 {
  display: block;
}
.sixthText:hover .text6 {
  display: block;
}
.seventhText:hover .text7 {
  display: block;
}
.eighthText:hover .text8 {
  display: block;
}
.ninthText:hover .text9 {
  display: block;
}
.tenthText:hover .text10 {
  display: block;
}
.elevenText:hover .text11 {
  display: block;
}
.twelveText:hover .text12 {
  display: block;
}
.thirteenText:hover .text13 {
  display: block;
}
.fourteenText:hover .text14 {
  display: block;
}
.fifteenText:hover .text15 {
  display: block;
}
